:root {
	--primary-color: #189bcd;
	--secondary-color: black;
}

::selection {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-decoration-color: var(--secondary-color);
}

body {
	font-family: Verdana, sans-serif;
	font-size: x-large;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	max-width: 1000px;
	margin: auto; padding: 1em;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

p { line-height: 1.5; }

a {
	color: var(--primary-color);
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.art-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-around;
}

.art-box > div {
	height: 300px;
	width: 300px;
	overflow: hidden;
	margin: auto;
}
.art-box > span {
	height: 2em;
	width: 300px;
	line-height: 2em;
	display: block;
	margin: auto;
}

.resizable-image {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}
